@primary-color: rgb(25, 118, 210);
@secondary-color: #673ab7;
* {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

ul {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

a {
  -webkit-appearance: none;
  text-decoration: none;
  color: @primary-color;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #eee;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html {
  font-family: Roboto, 'Helvetica Neue', 'microsoft yahei', Arial sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
}

#app,
#layout,
#body,
#sidebar,
#main {
  height: 100%;
}

#layout {
  width: 100%;
  position: relative;
}

@header_height: 64px;

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: @header_height;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  background-color: @primary-color;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  .header__logo {
    font-size: 25px;
    width: 120px;
    margin-right: 20px;
  }
  ul.header__menus {
    font-size: 28px;
    height: 100%;
    line-height: @header_height - 4px;
    cursor: pointer;
    li {
      transition: all 0.3s ease-in;
      padding: 0 12px;
      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

#body {
  // text-align: center;
  padding: @header_height 0 0;
}

#main {
  position: relative;
  margin-left: 305px;
  background: #fff;
  overflow: hidden;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

.img-spaceship {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-4px);
  width: 60px;
  height: 60px;
  background: url('~web/images/spaceship.svg') no-repeat;
  background-size: 100%;
}

i.iconfont {
  font-size: inherit;
  display: inline-block;
  font-style: normal;
  transform: translateY(-3px);
  vertical-align: middle;
}

// tags
.tag {
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  cursor: default;
  height: 25px;
  // display: inline-flex;
  outline: 0;
  padding: 0 12px;
  // font-size: 0.8125rem;
  font-size: 0.8125rem;
  line-height: 25px;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  // align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  color: #fff;

  // background-color: #e0e0e0;
}

@import './loading.less';
@import './error.less';
@import './sidebar.less';
@import './input.less';
@import './post.less';
@import './markdown.less';
