<!DOCTYPE html>
<html>

<head>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js?' + "<%= BUILD_TIME %>").then(registration => {
          // registration.console
          // registration.pushManager.subscribe({ userVisibleOnly: true });
        }).catch(err => {
          console.error("register service worker failed", err);
        });
      });
    }
  </script>
  <meta charset="utf-8" />
  <meta charset="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1431435_5mlmhqr8ff.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-tomorrow.min.css">
  <title>kirk</title>
</head>

<body>

  <div id="app"></div>
  <script>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js" data-manual></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>

</body>

</html>