* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #eee;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #f0f0f0;
}

#layout {
  width: 100%;
  height: 100%;
  position: relative;
}

@header_height: 64px;

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: @header_height;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  background-color: rgb(25, 118, 210);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
  .header-logo {
    font-size: 25px;
    width: 120px;
    margin-right: 20px;
  }
  // ul {
  //   list-style: none;
  //   padding: 0;
  //   & > li {
  //     display: inline-block;
  //     line-height: @header_height - 2px;
  //     padding: 0 20px;
  //     border-bottom: 2px solid transparent;
  //     transition: 0.3s all;
  //     &:hover,
  //     &.active {
  //       cursor: pointer;
  //       border-bottom: 2px solid #180bcd;
  //     }
  //   }
  // }
}

#body {
  text-align: center;
  padding: @header_height 0 0;
  height: 100%;
}

#main {
  margin-left: 305px;
  height: 100%;
  background: #fff;
}

#sidebar {
  float: left;
  width: 305px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.flex-grow {
  flex: 1 1 auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

/**
 * Body CSS
  */
html,
body {
  height: 100vh;
  background-color: #eee;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.input__search {
  font-size: 16px;
  position: relative;
  height: 68px;
  padding: 5px 16px 0 24px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: inline-flex;
  align-items: center;
  color: #333;
  input {
    color: inherit;
    flex: 1 1 100%;
    display: block;
    -webkit-appareance: none;
    background: transparent;
    border: none;
    font-size: inherit;
    // border-bottom: 1px solid #ccc;
  }
  span.iconfont {
    font-size: 24px;
    width: 26px;
    flex: 0 0 auto;
  }
  .input__search--placeholder {
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    top: 27px;
    text-align: left;
    left: 50px;
  }
}
